*.class
.vscode

/jframe-biblioteca/nbproject/private/
/jframe-biblioteca/build/
/Lp3/build/
/Lp3/nbproject/private/
/gofiances/build/
/gofiances/nbproject/private/
/gofinances/build/
/gofinances/nbproject/private/
