@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
}


.AboutContainer{
    display: flex;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
}

.InfoContainer{

    margin-left: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 350px;
    border-radius: 20px;

    background-color: #0C1C2B;

}

.h2-Info{
    color: #FFF;
    font-size: 40px;
}


.p-Info{
    color: #FFF;
    font-size: 16px;
    margin-top: 20px;

    text-align: center;
}

.Category-Info{
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    align-items: center;
}

.category-BackEnd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #964848;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;

    width: 100px;
}

.category-Free {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #726F6F;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;

    width: 100px;
}

.category-Beginner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #78D19C;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;

    width: 100px;
}

.category-Mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #78D19C;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;

    width: 100px;
}

.category-intermediate{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #E7B871;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;

    width: 100px;
}


.category-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #3DA69F;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;
    width: 70px;
}

.category-HTML{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #726F6F;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;
    width: 70px;
}

.category-CSS{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #726F6F;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;
    width: 70px;
}

.category-FrontEnd{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #6B3DA6;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;
    width: 70px;
}

.category-RN{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #743763;
    color: #FFF;
    border-radius: 20px;

    margin-right: 10px;
    width: 100px;
}


.Btn-Info {
    background-color: #FFF;
    color: #000;
    border: none;
    padding: 10px;
    width: 120px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 40px;
    cursor: pointer;
}

.Btn-Info:hover {
    background-color: #3DA69F;
    color: #000;
}

.ImageContainer{
    display: flex;
    margin-left: 100px;
    align-items: center;
    justify-content: center;

    transition: all 0.4s;
}

.Img-Change{
    width: 600px;
    height: 400px;
    border-radius: 10px;
}


.Arrows{
    display: flex;
    position: relative;
    right: 270px;
}

.Arrow-Left{
    width: 22px;
    height: 42px;
    position: relative;
    right: 320px;
    cursor: pointer;
}

.Arrow-Right{
    width: 22px;
    height: 42px;
    position: relative;
    left: 217px;
    cursor: pointer;
}


.Title-Challenge{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2-title-challenge{
    color: #1B2E40;
    font-size: 36px;
}

.p-description-challenge{
    color: #000;
    font-size: 20px;
    width: 600px;
    text-align: center;
    margin-top: 20px;
}


.Container-guide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guide{
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    margin-left: 160px;
}

.guide2{
    display: flex;
    flex-direction: column;

    margin-top: 120px;
    margin-right: 30px;
}

.guide4{
    display: flex;
    flex-direction: column;

    margin-top: 160px;
    margin-right: 200px;
}

.guide-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1B2E40;
}

.h3-guide{
    margin-left: 10px;
    color: #1B2E40;
    font-size: 26px;
}

.p-guide{
    margin-top: 10px;
    font-size: 20px;
    width: 360px;
}

.image-guide{
    margin-top: 20px;
    border-radius: 5px;
}

.EndGuide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h4-EndGuide{
    margin-bottom: 55px;
    margin-top: 55px;
    font-size: 30px;
    color: #0C1C2B;
    width: 700px;
    text-align: center;
}