.titulo {
    text-align: center;
    font-weight: bold;
}

table tr p {
    font-size: 18px;
    text-align: center;
}

table tr img {
    align-items: center;
    border-radius: 8px;
    width: 90%;
}
