main .photo {
  margin: 16px;
  width: 30%;
  display: inline-block;
}

main .photo .description {
  font-size: 18px;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  margin-bottom: 8px;
}

main .photo img {
  width: 100%;
}
