main {
  width: 70vw;
  position: relative;
  left: 20%;
}

main .content {
  width: 43vw;
  display: inline-block;
  position: relative;
  bottom: 95px;
}

main img {
  margin-left: 16px;
  width: 200px;
  height: 400px;
}
